@model IEnumerable<DB.Models.Randevu>

<div class="container">
    <h2>Randevularınız</h2>

    @if (!Model.Any())
    {
        <p>Henüz bir randevu almadınız.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Gün</th>
                    <th>Saat</th>
                    <th>İşlemler</th>
                    <th>Toplam Tutar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var randevu in Model)
                {
                    <tr>
                        <td>@randevu.RandevuGun</td>
                        <td>@randevu.RandevuSaat</td>
                        <td>@randevu.SacIslemleri</td>
                        <td>@randevu.ToplamTutar ₺</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
